body {background-image: url("https://i.pinimg.com/564x/5c/ba/dc/5cbadcce56e484c0c693ce9a274bb233.jpg")}
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 192, 203, 0.6);
        z-index: 0; /* Ensures it's behind the content */}
        .content {
            position: relative; /* Ensures content appears above the overlay */
            z-index: 1; /* Stacks content above the overlay */
            color: #FB928E; /* Makes text visible on a dark background */
            padding: 20px;
            font-family: cursive
        }
.mull {
    position: relative;
    text-align: center; 
    background-color: #F6F5E1; 
    border-radius: 100px;
    padding: 10px 25px;
    width: 500px;
    margin: auto
    }

img {
    border-radius: 50%
    }
/* .column {float:left; width: 50%;}
.conteiner:after {content: ""; display: table; clear: both;} */
/* .column {float:left; width: 50%;} */
.conteiner {display:flex; height:300px; justify-content: center; align-items:start;}