body {background-image: url("https://i.pinimg.com/564x/5c/ba/dc/5cbadcce56e484c0c693ce9a274bb233.jpg")}
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 192, 203, 0.6);
        z-index: 0;}
        .content {
            position: relative;
            z-index: 1;
            color: #FB928E;
            padding: 20px;
            font-family: cursive;
            font-size: 20px;}
.mull {
    position: absolute;
    text-align: center; 
    background-color: #F6F5E1; 
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    padding: 1px 100px;
    width: 700px;
    margin-top: 0px;
    z-index: 3;}

.column-1 {display: flex;
    gap: 10px;
    margin-top: 160px;
    justify-content: space-between;
    z-index: 2;}
    .column-1 img {border-radius: 20%;}
.column-2 {
    display: none;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
    z-index: 2;}
    .column-2 img {border-radius: 20%;}

.conteiner {
    position:relative;
    line-height: 0;}