body {background-image: url("https://media.istockphoto.com/id/1329957675/photo/beer-in-bottles-and-cans-on-grocery-store-shelves.jpg?s=612x612&w=0&k=20&c=jGXpcrwk35sYYBSzy5Dlrt2qwNr0nCXtuHvD3Z4H9x8=")}
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 192, 203, 0.6);
        z-index: 0; }
        .content {
            position: relative; 
            z-index: 1;
            color: #FB928E; 
            padding: 20px;
            font-family: cursive;
            font-size: 20px;}


.mull3 {
    position: absolute;
    text-align: center; 
    background-color: #F6F5E1; 
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    padding: 1px 100px;
    width: 800px;
    margin-top: 10px;
    z-index: 3;}


.mull2 {
    position: absolute;
    text-align: center; 
    background-color: #F6F5E1; 
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    padding: 1px 100px;
    width: 320px;
    height: auto;
    padding-top: 25px;}


.mull4 {
    position: absolute;
    text-align: center; 
    background-color: #F6F5E1; 
    top: 725px;
    left: 90%;
    transform: translateX(-50%);
    border-radius: 100px;
    padding: 1px 50px;
    width: 100px;
    height: 60px;
    padding-top: 15px;
    padding-left: 40px;
}

.mull5 {
    position: absolute;
    text-align: center; 
    background-color: #F6F5E1; 
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    padding: 1px 100px;
    width: 500px;
    height: 100px;
    padding-top: 25px;}


.tekst1 {
    font-size: 27px;
    color: #FB928E;
}

.tekst2 {
    font-size: 17px;
}


.pilt1 {
    margin-top: 380px;
    margin-left: 60px;
    }

.pilt2 {
    margin-left: 700px;
    }

.column-1 {display: flex;
    gap: 750px;
    margin-top: 350px;
    justify-content: space-between;
    z-index: 2;}
    .column-1 img {border-radius: 20%;}

.joogisoovitus {
    margin: 5px 0;
    line-height: 1.5
}

.isikuerror {
    color: red;
}
